<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario TELEMATICA</title>
    <link rel="stylesheet" href="/assets/style/inventario.css">
    <link rel="icon" href="/assets/img/logo-sura.png">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="/src/js/inventario.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="https://www.segurossura.com.co/paginas/inicio.aspx"><img src="/assets/img/logo-sura.png" alt="esta imagen contiene el logo de inventario" class="logo">
        </a>
        <nav class="menu">
            <ul class="lista">
                <li class="item "><a href="/src/views/iniciosesion.html" class="link --inicio">Cerrar sesion</a></li>
                <li class="item"><a href="/src/views/quienessomos.html" class="link">Quienes somos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <h1 class="titulo">INGRESO DE INVENTARIOS NACIONAL</h1>
            <h1 class="titulo">. . .</h1>
        </section>
        <section class="contenido">
            <h1 class="titulocontenido">INVENTARIOS AREA TELEMATICA</h1>
            <div class="contparrafo"><p class="parrafocontenido">En nuestra pagina podras ingresar el inventario que manejamos a nivel nacional para proveedores</p>
            </div>
        </section>
        <section class="ingresoinv">
            <div class="cardingreso">
                <img src="/assets/img/dcsolution.jpg
                " alt="esta imagen contiene dc SOLUTION" class="imgreceta">
                <div class="contenidoinv">
                    <h2 class="tituloinv">Ingreso inventario DC SOLUTION</h2>
                    <br>
                    <p class="descripcion">Proveedor primario para envio de materiales</p>
                    <br>
                    <br>
                    <button class="inforeceta" onclick="InIndividual(inventario)">ingresa inventario</button>
                </div>
            </div>
            <div class="cardingreso">
                <img src="/assets/img/cmo.jpg" alt="esta imagen contiene CMO" class="imgreceta">
                <div class="contenidoinv">
                    <h2 class="tituloinv">Ingreso inventario CMO</h2>
                    <br>
                    <p class="descripcion">Proveedor secundiario para envio de materiales</p>
                    <br>
                    <br>
                    <button class="inforeceta" onclick="InIndividual(inventario)">ingresar inventario</button>
                </div>
            </div>
            <div class="cardingreso">
                <img src="/assets/img/sonar.jpg" alt="esta imagen contiene SONAR" class="imgreceta">
                <div class="contenidoinv">
                    <h2 class="tituloinv">ingreso de inventarios proveedor SONAR</h2>
                    <br>
                    <p class="descripcion">Ingreso de inventarios para proveedor fabricante</p>
                    <br>
                    <br>
                    <button class="inforeceta" onclick="InIndividual(inventario)">ingresar inventario</button>
                </div>
            </div>
            <div class="cardingreso">
                <img src="/assets/img/inventario.jpg" alt="esta imagen contiene total" class="imgreceta">
                <div class="contenidoinv">
                    <h2 class="tituloinv">Ingreso de inventario total de proveedores</h2>
                    <br>
                    <p class="descripcion">Aca ingresas el inventario total entregado a todos los proveedores</p>
                    <br>
                    <br>
                    <button class="inforeceta" onclick="inventarios()">ingresar inventario</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footerizq">
            <img src="/assets/img/logo-sura.png" alt="" class="logopie">
            <p class="pfooter">Gracias por visitar nuestra pagina</p>
        </div>
        <div class="footerder">
            <p class="siguenos">SIGUENOS EN :</p>
            <a href="https://twitter.com/?lang=es" target="_blank"><img src="/assets/img/twitter.png" alt="twitter" class="redes">
            </a>
            <a href="https://www.youtube.com/" target="_blank"><img src="/assets/img/youtube.png" alt="youtube" class="redes">
            </a>
            <a href="https://www.instagram.com/" target="_blank"><img src="/assets/img/instagram.png" alt="instagram" class="redes">
            </a>
            <a href="https://www.behance.net/" target="_blank"><img src="/assets/img/behance.png" alt="behance" class="redes">
            <a>
        </div>
    </footer>  
</body>
</html>